<div id="margin" class="container-fluid text-center body { overflow-y: hidden; }">

  <img
  src="../../../assets/grafica_sfondo_autosalone.png"
  alt="logo_autosalone"
  width="100%"
/>



  <div class="container-fluid" style="height: auto">
    <app-marchi></app-marchi>
  </div>

  <div class="container-fluid" style="height: auto">
    <app-evidence></app-evidence>
  </div>

  <div class="container-fluid" style="height: auto">
    <app-promozioni></app-promozioni>
  </div>

  <div class="container-fluid" style="height: auto">
    <app-channel></app-channel>
  </div>



  
</div>
