<div class="container-fluid">
  <h1 class="text-center mt-5 mb-3">Promozioni</h1>
  <div class="row justify-content-center">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row flex-nowrap g-2">
            <ng-container *ngFor="let car of carsDiscounted">
              <div class="col-12 col-md-4 mb-5">
                
                  <img
                    src="https://www.kimballstock.com/pix/car/p/{{ car.modelImage }}"
                    class="card-img-top"
                    alt="{{ car.modelImage }}"
                    style="max-width: 60%; max-height: 100%;"
                  />
                  <div class="row d-flex justify-content-center align-items-center">
                  </div>
                </div>
              
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Pulsanti di navigazione -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon text-bg-warning" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon text-bg-warning" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
