<div class="row">
    
      <div>
        <div class="card mb-3" [ngClass]="{ 'bg-danger': !car.available, 'bg-success': car.available }">
          <img
            src="https://www.kimballstock.com/pix/car/p/{{ car.modelImage }}"
            class="card-img-top"
            alt="{{ car.modelImage }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
            <div class="d-flex justify-content-center align-items-baseline">
              <p class="card-text btn text-black me-3" style="pointer-events: none;">ANNO: {{ car.year }}</p>
              <p class="btn text-black" style="pointer-events: none;">PREZZO: {{ car.price }} €</p>
            </div>
            <p
                class="btn btn-outline-dark text-black"
                style="pointer-events: none"
              >
                PRONTA CONSEGNA: {{ car.available }}
              </p>
          </div>
          <button type="button" class="btn btn-primary" [disabled]="!car.available">
            ORDINA SUBITO!
          </button>
        </div>
      </div>

      
   
  </div>